<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layout :: head('Mis Infantes')}"></head>

<body>

<div th:replace="~{layout :: layout(~{::content})}">

    <th:block th:fragment="content">

        <h1 class="mb-4">Mis Infantes</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Grupo</th>
                <th>Alergias</th>
                <th>Medicamentos</th>
                <th>Vacunas</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="i : ${infantes}">
                <td th:text="${i.cedulaInfante}"></td>
                <td th:text="${i.nombre}"></td>
                <td th:text="${i.apellidoPaterno}"></td>
                <td th:text="${i.apellidoMaterno}"></td>
                <td th:text="${i.fechaNacimiento}"></td>
                <td th:text="${i.nombreGrupo}"></td>
                <td th:text="${i.alergias}"></td>
                <td th:text="${i.medicamentos}"></td>
                <td th:text="${i.vacunas}"></td>
            </tr>
            </tbody>
        </table>

    </th:block>

</div>

</body>
</html>