<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<!-- HEAD COMO FRAGMENTO -->
<head th:fragment="head(tituloPagina)">
    <meta charset="UTF-8">
    <title th:text="${tituloPagina} ?: 'Panel Administrativo'">Panel Administrativo</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>

<body>

<!--  CONTENEDOR PRINCIPAL COMO FRAGMENTO -->
<div class="layout-container" th:fragment="layout">

    <!--  SIDEBAR COMO FRAGMENTO -->
    <aside class="sidebar" th:fragment="sidebar">

        <!-- PROFILE -->
        <div class="profile">
            <!-- OJO: ESTO ES POR MIENTRAS PERO TENEMOS QUE CAMBIARLO A QUE DETECTE LA INFO DEL USER, AUNQ EN LA FOTO DEBERIAMOS PONER EL LOGO NADA MAS -->
            <img src="https://i.pravatar.cc/100" alt="avatar">
            <h3>Olivia Wilson</h3>
            <span>Administrador</span>
        </div>

        <!-- MENU -->
        <nav class="menu">
            <a th:href="@{/}" class="item">Inicio</a>
            <a th:href="@{/usuarios}" class="item active">Gestión de Usuarios</a>
            <a th:href="@{/docentes}" class="item">Gestión de Docentes</a>
            <a th:href="@{/infantes}" class="item">Gestión de Infantes</a>
            <a th:href="@{/actividades}" class="item">Planificación de Actividades</a>
            <a th:href="@{/asistencias}" class="item">Registro de Asistencia</a>
            <a th:href="@{/entradas-salidas}" class="item">Entradas y Salidas</a>
            <a th:href="@{/matriculas}" class="item">Matrículas y Mensualidades</a>
            <a th:href="@{/pagos}" class="item">Facturación y Pagos</a>
            <a th:href="@{/reportes}" class="item">Reportes</a>
            <a th:href="@{/auditoria}" class="item">Auditor4ía</a>
        </nav>

        <!-- LOGOUT -->
        <div class="logout">
            <a th:href="@{/logout}">
                ⟵ Cerrar Sesión
            </a>
        </div>

    </aside>

    <!--  MAIN (el contenido lo pone cada vista) -->
    <main class="content">
        <!-- OJO aquí NO va nada fijo en el layout, esto ya es en cada viata propia -->
    </main>

</div>

</body>
</html>